.App{
    width: 100%;
    display: flex;
    justify-content: center;

}
.pa{
    width: 300px;
    background: #46d8d8;
    border: 10px solid;
    margin: 10px 0px;
    padding: 20px;
}
.pb{
    width: 500px;
    background: rgb(216, 18, 18);
    border: 10px solid;
    margin: 10px 0px;
    padding: 20px;
}